body{
       background-color: turquoise;
    }
img{
    width: 300px;
    outline-style: solid;
	padding: 10px;
	border: 3px groove black;
	margin: 10px;
	}
  a{
    color: white;
    }
	p
	{
		color: Black;
	}
	.gry
	{
		color: Gray;
	}
	#drkbl
	{
		color: Navy;
	}